[Unit]
Description=xinchuang-materiel
Requires=postgresql-10.service
After=network.target postgresql.service
[Service]
Type=simple
SyslogIdentifier=xinchuang-materiel
PermissionsStartOnly=true
ExecStart=/home/xc-odoo/xc-dev/env/bin/python3  /home/xc-odoo/xc-dev/odoo-bin -c /home/xc-odoo/xc-dev/odoo.conf  --load=web,muk_session_store
StandardOutput=journal+console
[Install]
WantedBy=multi-user.target